

section
{
	margin-right: 200px;
	margin-left: 200px;
	background-color: white;
}
footer
{
	padding: 5px 0;
	width: 100%;  
	background-color: black; 
	color: white;
	text-align: center;
}

.navbar {
    width: 100%;  
    height: 60px; 
    background-color: white; 
}

.logo {
    display: inline-block;
    float: left;
}

.line{
	display: inline-block;
}
h1
{
	text-align: center;
}

h3
{
	color: purple;
}

ul {
  list-style-type: none;
  background-color: white;
  float: right;
  padding: 0;
}

ul li{
  display: inline-block; padding:10px;
  font-size:18px; font-family:raleway;
}

ul li:hover{
  color:orange;
}

.inner {
	border: 1px solid black;
	background-color: white;
	margin-right: 10px;
	margin-left: 10px;
}

.outer {
	margin-top: 280px;
	padding: 20px 0;
	border-right: 2px solid black;
	margin-right: 200px;
	margin-left: 200px;
	background-color: white;
}

.center {
	margin-top: 100px;
	padding: 20px 0;
	border: 1px solid black;
	margin-right: 200px;
	margin-left: 200px;
	background-color: white;
}

.tbold {
	font-weight: bold;
	display: inline;
}

p{
	display: inline;
}

.acenter{
	align-items: center;
	text-align: center;
	align-content: center;
}

table {
  border-collapse: collapse;
  width: 50%;
}

th, td {
  padding: 8px;
  text-align: left;
}

.short{
	width: 50%;
}

textarea{
	width: 135%;
	height: 80px;
}